__pycache__/
*.pyc
*.pyd
*.pyo
.Python
env/
venv/
.venv/
*.env
.flaskenv

*.db
*.sqlite3
instance/

.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db
desktop.ini

*.log
logs/
output/
*.json

chromedriver/
geckodriver/
msedgedriver/

# keep example env tracked
!.env.example

frontend/.env.production
frontend/node_modules/
frontend/dist/
